.side-bar{
    background-color: #FEEAE9;
}
.img-product{
    width: 130px;
}
.for-bg-color{
  background-color:#FFA500;
  margin-right: 10px;
  border-radius: 10px;
}
.for-bg-color2{
    background-color: #DA70D6;
    margin-right: 10px;
    border-radius: 10px;
}
.for-bg-color3{
    background-color: #0000FF;
    border-radius: 10px;
}
.card{
    margin-right: 20px;
    box-shadow: 4px 4px 10px -4px #555;
    border: none;
    outline: none;
}
.input-section{
    background-color: #e7d9ea;
    padding: 65px 0;
}
input{
    border: none;
    outline: none;
}
.btn-design{
    background: #fff;
    border: none;

}